@charset "UTF-8";
/* CSS Document */

/* ========= Set base 10 font size ========= */
html {
	font-size: 62.5%;
}

body {
	background: #6a6464 url('../images/bg/low_contrast_linen.png');
	color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

/* ========== General Styles ========== */

/* Links */
a,
a:link,
a:visited {
	color: #779db2;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	color: #587889;
}

/* Flexible Images */
img {
	max-width: 100%;
	height: auto;
}

/* ========== Layout ========== */

/* Paul Irish box-sizing:
*	 http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.container {
	margin: 20px auto;
	max-width: 60em;
}

/* ========== Modules ========== */

/* Header */
.page-header {
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 30px;
	margin-bottom: 3rem;
}

/* Footer */
.page-footer {
	border-top: 1px solid #d4d4d4;
	margin-top: 20px;
	margin-top: 2rem;
}

/* Feature Gallery */

    #feature {
    margin-bottom: 30px;
    margin-bottom: 3rem;
    }

        #photo-wrapper {
    float: left;
    width: 64.58333%; /* 620px/960px */
    }

        #photo {
    position: relative;
    padding-bottom: 66.6667%; /* 3:2 aspect ratio => 2/3 x 100 = 66.66667% */
    padding-top: 0px;
    height: 0;
    }
     
    #photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

        .feature-title {
    margin-top: 0;
    }

       #caption-wrapper {
    float: right;
    width: 31.25%; /* 300px/960px */
    }

/* ==================================================
Micro clearfix hack to address parent containers that collapse
height with floated child elements. To use, simply add the
class "cf" to any container with floated child elements.
http://nicolasgallagher.com/micro-clearfix-hack/
================================================== */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

    #thumbnails {
    border-top: 1px solid #6d6d6d;
    padding-top: 20px;
    padding-top: 2rem;
    }

        #thumbnails img {
    float: left;
    margin: 1.25%;
    width: 7.75%;
    }

        #thumbnails a:first-child img {
    margin-left: 0;
    }
     
    #thumbnails a:last-child img {
    margin-right: 0;
    }