extends layout1
block head1
	link(herf="http://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.13.1/css/mediaelementplayer.min.css", rel="stylesheet")

block content
	.container
		header.page-header(role="banner")
			h1.site-title
				a(href="#") Site Title
			h2.tagline Just a MediaElement.js demo page
				