html
	head
		meta(charset="utf-8")
		title='jQuery Assignment 01 &ndash; MediaElement.js'
		//<meta name="viewport" content="width=device-width, initial-scale=1">
		meta(name="description", content="Enter a short description of this webpage")
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(herf="http://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.13.1/css/mediaelementplayer.min.css", rel="stylesheet")
		link(rel='stylesheet', href='/stylesheets/jq-mediaelement/style.css')

	body
		.container
			header.page-header(role="banner")
				h1.site-title
					a(href="#") Site Title
				h2.tagline Just a MediaElement.js demo page
			#content(role="main")
				section.video
					h2 senna goes for a walk
					video(width="640", height="480", poster="media/video/senna/senna.jpg", controls-preload="none")
						source(type="video/mp4", src="media/video/senna/senna.mp4")
						source(type="video/webm", src="media/video/senna/senna.webm")
						source(type="video/ogg", src="media/video/senna/senna.ogv")
						object(width="640", height="480", type="application/x-shockwave-flash", data="http://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.13.1/js/flashmediaelement.swf")
							param(name="movie", value="http://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.13.1/js/flashmediaelement.swf")
							param(name="flashvars", value="controls=true&poster=media/senna/senna.jpg&file=media/video/senna/senna.mp4")
							img(src="media/video/senna/senna.jpg", width="640", height="480", title="No video playback capabilities", alt="Senna goes for a walk.")
								
				section.audio
					h2 This Land Is Your Land
					p.byline by woodi Guthrie, performed by Anthony Bowman
					audio(controls-preload="none")
						source(type="audio/mp3", src="media/audio/this-land-is-your-land.mp3")
						source(type="audio/ogg", src="media/audio/this-land-is-your-land.ogg")
						p This browser does not support our audio format. Download the audio file from
							a(href="media/audio/this-land-is-your-land.mp3", title="Download This Land is Your Land") Here 

			footer.page-footer(role="contentinfo")
				p &copy; enter the year Site Title


		//jQuery min
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script window.jQuery || document.write('<script src="javascritps/jquery-1.11.0.min.js"><\/script>')
		

		//MediaElement.js
		script(src="http://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.13.1/js/mediaelement-and-player.min.js")

		//Scripts
		script(src="../javascripts/plugins.js")