doctype html
html(class="no-js")
	head
		meta(charset="utf-8")
		title layout
		<meta name="viewport" content="width=device-width, initial-scale=1">
		meta(name="description", content="Enter a short description of this webpage")
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		block head1
		link(rel='stylesheet', href='/stylesheets/jq-mediaelement/style.css')
		script(src="/javascripts/modernizr.custom.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
		
	body
		block content