@charset "UTF-8";
/* CSS Document */

/* ========= Set base 10 font size ========= */
html {
	font-size: 62.5%;
}
body {
	color: #fff;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.5;
	text-shadow: 0 0 2px #666;
}
/* ========== General Styles ========== */
/* Background */
body {
	background: #2d2d2d url('../images/woman-driving.jpg');
	background-size: cover;
}
/* Links */


/* ========== Layout ========== */



/* ========== Modules ========== */



/* ==================================================
Micro clearfix hack to address parent containers that collapse
height with floated child elements. To use, simply add the
class "cf" to any container with floated child elements.
http://nicolasgallagher.com/micro-clearfix-hack/
================================================== */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
  *zoom: 1;
}